header {
    /* background-color: red; */
    /* height: 60rem; */
    padding: 0 2rem;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    z-index: 3;


    @media only screen and (max-width: $bp-768px) {
        height: 7rem;
    }
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav p {
    color: var(--color-white-dim);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 15rem;

    @media only screen and (max-width: $bp-768px) {
        display: none;
    }
}

nav a.logo {
    font-weight: 900;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav a,
.hero-foooter p {
    color: var(--color-white-dim);
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
}

.mail-tab {
    @media only screen and (max-width: $bp-768px) {
        display: none;
    }
}

.hero {
    margin-top: 9rem;
    text-align: center;

    @media only screen and (max-width: $bp-768px) {
        margin-top: 6rem;
    }
}

.hero-icon-block {
    padding-bottom: 3rem;
    display: inline-block;

}

.hero-block:not(:last-child) {
    margin-bottom: 1.7rem;
}

.hero h1 {
    color: #fff;
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 1;

    @media only screen and (max-width: $bp-large) {
        font-size: 10rem;
    }

    @media only screen and (max-width: $bp-576px) {
        font-size: 6rem;
    }
}

.icon-star {
    width: 3rem;
    height: 3rem;
    fill: #f64d52;
    animation: rotate 4s linear infinite;
}

.mail-link {
    display: none;

    @media only screen and (max-width: $bp-768px) {
        display: block;
    }
}

.icon-mail {
    width: 3rem;
    height: 3rem;
    fill: #fff;
}

.hero-foooter {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 3rem 0;
}


.hero-footer-icon {}

.icon-mouse {
    width: 2.5rem;
    height: 2.5rem;
    fill: #fff;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.burger div {
    width: 30px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
    cursor: pointer;
    display: none;
    z-index: 9;

    @media only screen and (max-width: $bp-768px) {
        display: block;
        z-index: 9;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-3px, -6px);
}