.supports {
    padding: 10rem 2rem;
}

.support {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 6rem;

    @media only screen and (max-width: $bp-1200px) {
        grid-gap: .5rem;
    }

    @media only screen and (max-width: $bp-1200px) {
        grid-template-columns: 1fr;
        grid-gap: 6rem;
    }

    &__content:first-child {
        display: grid;
        grid-template-rows: repeat(4, min-content);
        grid-row-gap: 2.5rem;
        align-content: center;
    }

    &__content {
        & h4 {
            text-transform: uppercase;
            color: $color-primary;
            font-size: 1.4rem;
            font-weight: 500;
        }

        & h2 {
            font-size: 5rem;
            font-weight: 700;
            line-height: 1.2;

            @media only screen and (max-width: $bp-1200px) {
                font-size: 3.5rem;
            }
        }

        & p {
            color: #FFFFFFB2;
            font-weight: 500;
            font-size: 1.8rem;

            @media only screen and (max-width: $bp-1200px) {
                font-size: 1.7rem;
            }
        }
    }

    &__img {
        width: 100%;
    }

    &__link {
        background-color: $color-primary;
        padding: 1rem 2rem;
        border-radius: 2px;
        color: #fff;
        font-weight: 700;
        display: inline-block;
        transition: all .5s;
        justify-self: start;
    }

    &__link:hover {
        background-color: #222;
    }
}