.works {
    padding: 7rem 4rem 10rem 4rem;

    &__header {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 7rem;
        text-align: center;

        @media only screen and (max-width: $bp-large) {
            width: 80%;
        }

        @media only screen and (max-width: $bp-768px) {
            width: 100%;
        }

        & h4 {
            text-transform: uppercase;
            color: $color-primary;
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 3rem;
        }

        & h2 {
            font-size: 7rem;
            font-weight: 500;
            line-height: 1;

            @media only screen and (max-width: $bp-large) {
                font-size: 6rem;
            }

            @media only screen and (max-width: $bp-768px) {
                font-size: 5rem;
            }

            @media only screen and (max-width: $bp-576px) {
                font-size: 3.5rem;
            }
        }
    }
}

.works__content {
    max-width: 90rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 1fr;
    }
}

.content__box {
    height: 50rem;
    background-color: #fff;
}